@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
    .col-50 {
        width: 50%;
    }
    .col-25 {
        width: 25%;
    }
    .col-33 {
        width: 50%;
    }
    .main-sec {
        padding: 50px;
        margin: 0 51px;
    }
    #bg-preg-wmn {
        background-image: url('D:/vs code/images/dog.jfif');
        height: 500px;
        width: 500px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 950px;
    }
    .col-33 {
        width: 33.33%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1160px;
    }
}